body {
	font-family: 'Work Sans', sans-serif;
}

h1 {

}

/* hover logo */
.container {
	position: relative;
	width: 50%;
}

.container:hover .overlay {
	opacity: 1;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	/*change this to the final background color*/
	background-color: grey;
}

/* read through text file */
#list p {
	font: arial;
	font-size: 14px;
	background-color: white;
}

/* input bar changes width */
input[type=submit] {
	width: 100px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s east-in-out;
}

input[type=submit]:focus {
	width: 250px;
}
